Repository scikit-hep/pylhe, pull requests merged in 2021-04, with the labels that each got.

#74 feat: Add support for reading compressed files
  src/pylhe/__init__.py
  tests/test_lhe_reader.py
Labels: enhancement, feature request, test

#77 refactor: Apply suggestions from Sourcery
  src/pylhe/__init__.py
Labels: refactor

#78 docs: Revise PyPI author metadata in setup.cfg
  setup.cfg
Labels: docs

#80 fix: Have all read APIs accept gzipped files
  src/pylhe/__init__.py
  tests/test_lhe_reader.py
Labels: fix, test

#84 feat: Use module level __dir__ to restrict public API views
  src/pylhe/__init__.py
  tests/test_api.py
Labels: enhancement, test

#83 feat: Add `vector` based `to_awkward` API
  examples/awkward_example.ipynb
  setup.cfg
  src/pylhe/__init__.py
  src/pylhe/awkward.py
  tests/test_api.py
Labels: API, enhancement

#85 chore: Add isort to pre-commit hooks
  .pre-commit-config.yaml
  examples/awkward_example.ipynb
  examples/zpeak.ipynb
  pyproject.toml
  tests/test_visualize.py
Labels: chore

#87 refactor: Deprecate reader API for more Pythonic style
  examples/awkward_example.ipynb
  examples/zpeak.ipynb
  setup.cfg
  src/pylhe/__init__.py
  tests/test_api.py
  tests/test_lhe_reader.py
  tests/test_visualize.py
Labels: refactor
